# Dart tool directory
.dart_tool/

# Flutter build directory
build/

# IDE specific files
.idea/
.vscode/

# Lock files
pubspec.lock

# Packages files
.packages
.flutter-plugins
.flutter-plugins-dependencies
